<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <title>poc for intern</title>
</head>
<body>


<div class="container">

  <form class="well form-horizontal" action=" " method="post"  id="contact_form">
    <fieldset>
      <!-- Form Name -->
      <legend class="only"><h2><b>Login</b></h2> </legend><br>

      <!-- Text input-->

      <!-- Text input-->




      <!-- Text input-->

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email" placeholder="E-Mail Address" class="form-control"  type="text" [(ngModel)]="email">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >Password</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="user_password" placeholder="Password" class="form-control"  type="password" [(ngModel)]="password">
          </div>
        </div>
      </div>

      <!-- Text input-->




      <!-- Text input-->


      <!-- Select Basic -->

      <!-- Success message -->


      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
          <button type="submit" class="btn btn-warning" (click)="signin()"><span class="glyphicon glyphicon-send"></span>SignIn</button>


        </div>
      </div>

    </fieldset>
  </form>

</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
